.main-container {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 30px;
}
.country {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.card {
  width: 50%;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease;
}
